/* .equal-sign {
  background-color: rgb(66, 133, 244);
  color: white;
} */

.button-wrapper {
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    font-size: 1.4em;
    background-color: rgb(241, 243, 244);
    color: black;
    flex: 1;
    margin: 5px 5px 5px .5px;
    border-radius: 15px 5px 5px 5px;
    
  }
  .clear-btn {
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    font-size: 1.4em;
    background-color:  rgb(223, 225, 229);
    color: black;
    flex: 1;
    margin: 5px 5px 5px .5px;
    border-radius: 20px;
    
  }
  
  /* will show as different colors if value on calc is not a number */
  .operator {
    background-color: rgb(223, 225, 229);
    color: black;
  }