.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  
}

.stan  {
  display: flex;
}

.science {
  display: flex;
}

body {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: white;
  margin: 0;
  padding-top: 50px;
  justify-content: center;
}

.calc-wrapper {
  width: 600px;
  padding: 20px;
}

.row {
  display: flex;
  margin: 5px;
  width: 100%;
}

